@font-face {
  font-family: "Roboto Mono";
  src: url("../../dashboard/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../dashboard/assets/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: block;
}

.dashboard {
  font-family: "Roboto Mono", monospace;
}

.dashboard * {
  font-family: "Roboto Mono", monospace;
}

.dashboard input[type="checkbox"]:checked {
  border-color: #d9d9d9;
}

.dashboard input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
}

.dashboard input[type="radio"]:checked {
  border-color: #d9d9d9;
}

.dashboard input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.dashboard input[type="checkbox"]:hover,
.dashboard input[type="radio"]:hover {
  border-color: #d9d9d9;
}

.projector {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.projector::after {
  content: none;
  display: none;
}

.projector #webpack-dev-server-client-overlay {
  display: none !important;
}

.projector .modules {
  width: 100%;
  height: 100%;
}

.projector .module {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
}

html {
  filter: saturate(1.5);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.code-viewer,
.code-viewer *,
input,
textarea,
select,
[contenteditable="true"],
[contenteditable="true"] * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.drag-region {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 9999;
  background: transparent;
}
