<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; base-uri 'none'; object-src 'none'; form-action 'none'; connect-src 'none'; script-src 'self' 'unsafe-eval' blob:; style-src 'unsafe-inline'; img-src 'self' file: data: blob:; media-src 'self' file: data: blob:; font-src 'self' file: data: blob:;"
    />
    <title>nw_wrld module sandbox</title>
  </head>
  <body>
    <script src="nw-sandbox://app/moduleSandbox.js"></script>
  </body>
</html>


